/*Global Styles*/
html {
	width: 100%;
	height: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: Arial, sans-serif;
	padding: 10px;
	width: calc(100% - 20px); 
	min-width: 300px;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	clear: left;
	margin-top: 2em;
	margin-bottom: 1em;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
}

ul {
    margin: 0;
    padding: 0;
    margin-left: 2em;
    margin-bottom: 1em;
}
dl{
	margin: 0;
	margin-left: 1em;
	margin-bottom: 1em;
	padding: 0;
	overflow: hidden;
	line-height: 1.4;
}

dt{
	margin: 0;
	margin-right: 1em;
	margin-top: 1em;
	padding: 0;
	float: left;
	clear: left;
	min-width: 2em;
}

dt:first-of-type {
	margin-top: 0;
}

dd{
	margin-left: 2em;
	margin-top: 1em;
	padding: 0;
}

dd:first-of-type {
	margin-top: 0;
}

code {
	font-family: "Lucida Console", Monaco, monospace;
}


/*Header*/
#header {
    padding: 0;
	overflow: hidden;
	border-bottom: 1px solid #999;
}

#heading {
	text-align: left;
	float: left;
	word-spacing: normal;
	padding: 0;
	padding-top: 0px;
	margin: 0px;
}

#menu { 
	float: right;
	padding:0px;
	margin: 0px;
	text-align:right; 
	line-height: 2;
	overflow: hidden;
	list-style-type: none;
}

#menu li{
	float:left;
	margin-left: 2em;
}

#subheading {
	margin: 0;
	padding: 10px;
}

#top-matter {
	margin: 0;
	margin-top: 1em;
	overflow: hidden;
}

/*main text*/
.main {
	text-align: left;
	padding: 10px;
	max-width: 700px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-left: calc(100% / 2.62 - 720px / 2.62);
	line-height: 1.4;
	clear: left;
} 

@media (max-width: 740px) {
	.main {
		margin-left: 0;
	}
}

.main h3:first-child {
    margin-top: 1em;
}

/*footer*/
#footer {
	clear: both;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 1px solid #999;
	font-size: small;
	overflow: hidden;
}

#footer img#oxlogo {
	float:right; 
	padding-left: 10px
}



/*images*/
.imagegallery {
	width: 100%;
	margin-top: 2em;
	margin-bottom: 2em;
	overflow-y: hidden;
	font-size: small;
}

.figure {
	max-width: 40%;
	margin: 0;
	padding: 0;
	min-width: 200px;
	float:left;
	margin-left: 5%;
	margin-right: 5%;
}

@media (max-width: 645px) {
	.figure {
		max-width: 90%;
	}
}

.figure img {
	max-height: 450px;
	width: 90%;
	padding: 5%;
	margin: 0;
}

.figure p {
	margin-top: 0;
	margin-bottom: 0;
}

.thumbnails {
	text-align: center;
	font-size: small;
	overflow: hidden;
}

.thumbnails a{
	padding: 10px;
	float: left;
	border: 1px solid #999;
}

.thumbnails img {
	max-height: 100px;
	margin-left: 10px;
	margin-right: 10px;
}

.thumbnails p {
	clear: left;
	margin: 0;
}

/*code display*/
.codeblock {
	width: 94%;
	padding: 3%;
	overflow: scroll;
	line-height: 1.2;
}

.codeblock code {
	white-space: pre;
}

/*note in a box*/
.note {
	float:left;
	border: 1px solid #999;
	padding: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 3em;
	margin-bottom: 1em;
	font-size: small;
	overflow: hidden;
}

@media (min-width: 740px) {
	.note {
		float:right;
		max-width: 30%;
		margin-left: 3em;
	}
}

.note h3{
	margin: 0;
	margin-bottom: 1em;
	padding: 0;
	font-size: medium;
	overflow: hidden;
}

/*special text elements*/
span.element {
	font-weight: bold;
}

span.codename {
	font-weight: bold;
}

/*citations*/
#paperlist li {
    margin-bottom: 1em;
}
.papertitle {
    font-weight: bold;
}

.authorlist {}

.journal {}

/*specific elements*/
#me {
	float:left;
	padding:10px;
	margin:1em;
	margin-top: 0;
}

#contact {
	float:left;
	padding: 10px;
	text-align: left;
	font-size: small;
	margin-top: 0px;
}
#contact h2 {
	margin-top: 0;
}
#contact p:last-child {
	margin-bottom: 0;
}

a.citation {
    text-decoration: none;
    color: black;
}
    








